@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

body {
  @apply bg-background-light text-zinc-900 dark:bg-background-dark dark:text-white;
}
