@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

body {
  @apply bg-background-light text-zinc-900 dark:bg-background-dark dark:text-white;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust based on gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* Adjust based on gap */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px; /* Adjust based on gap */
}

/* Added custom scrollbar styles */
::-webkit-scrollbar {
  height: 8px;
  background-color: #f0f0f0; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Blue color for the scrollbar thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
